* {
    box-sizing: border-box;
  }
  
  body {
  background-size: cover; /* ajusta a imagem para cobrir a tela inteira */
  background-position: center; /* centraliza a imagem */
  background-repeat: no-repeat; /* evita repetição da imagem */
  }
  
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("fundo/fundo.jpg"); /* ou imagens/fundo.jpg */
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -1;
  }

  .header {
    font-style: italic;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: #503d2c;
    color: #fff;
    border-bottom: 4px solid #806b4b;
  }
  
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
  }
  
  .gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .gallery::after {
    content: "";
    width: 350px;
  }

.footer {
    font-style: italic;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 32px;
    background-color: #503d2c;
    color: #fff;
    border-top: 4px solid #806b4b;
}

@media (min-width: 600px) {
  figure {
    flex: 1 1 calc(50% - 32px);
  }
}

@media (min-width: 900px) {
  figure {
    flex: 1 1 calc(33.33% - 32px);
  }
}